# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Visual Studio
.vs/*

# YAML files for ad hoc testing/development
_*.yml

# Emacs backup files (this is Jim's fault)
*~
\#*#

# JetBrains IntelliJ-based IDEs
.idea
